@import "bootstrap/functions";
@import "custom/functions";
@import "bootstrap/variables";

$primary:       #263238;
$primary-2:     #e8505b;
$primary-3:     #455a64;
$primary-alt: #b78876;

$font-family: 'Abel', sans-serif;
$header-font-family: 'Righteous', cursive;

@import "custom/color-schemes/desktop-app";
@import "custom/variables-bootstrap";
@import "custom/variables-theme";
@import "user-variables";
@import "bootstrap/bootstrap";
@import "custom/components";
@import "user";

